<div class="card mb-1 bg-dark text-light">
    <div class="card-body">
        <h3 class="card-title text-warning text-center mb-0">{{cardRecipe.title}}</h3>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item bg-dark text-light" *ngFor="let item of cardRecipe.ingredients">{{item}}</li>
    </ul>
    <div class="card-body d-flex justify-content-between flex-wrap">
        <div class="pt-md-2 col-12 col-md-auto">
            <h6>
                <span class="badge bg-success me-2" *ngFor="let cat of cardRecipe.categories">#{{cat}}</span>
            </h6>
        </div>
        <div class="col-12 col-md-auto">
            <a class="btn btn-warning" href="" role="button" *ngIf="cardRecipe.has_sbs"
                [routerLink]="['/recipe', cardRecipe.id]">Ver
                Receta</a>
        </div>
    </div>
</div>