<main>
    <div class="d-flex flex-column align-content-md-center flex-wrap mb-3 container min-vh-100">
        <div class="col-12 col-md-10 py-3 my-3 mx-md-3 bg-dark text-light text-center rounded-top">
            <h2>Nombre de la receta</h2>
        </div>
        <div class="col-12 col-md-10 py-2 my-3 mx-md-3 d-flex justify-content-md-between flex-wrap">
            <div class="col-12 col-md-5 p-2 bg-secondary text-light">
                <h4 class="fw-bold">Info:</h4>
                <p>#Vegetariana</p>
                <p>#SinTacc</p>
            </div>
            <div class="col-12 col-md-6 p-2 bg-warning mt-4 mt-sm-0">
                <h4 class="fw-bold">Ingredientes:</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-transparent">Aasdasd asda asda sdn item</li>
                    <li class="list-group-item bg-transparent">A secondda.</li>
                    <li class="list-group-item bg-transparent">A third item</li>
                    <li class="list-group-item bg-transparent">A fourth item</li>
                    <li class="list-group-item bg-transparent">Condimentos: Oregano, pimentón, comino y ají molido</li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-10 p-2 my-3 mx-md-3 bg-dark text-light rounded-bottom">
            <h4 class="fw-bold">Paso a paso:</h4>
            <ol class="list-group list-group-numbered">
                <li class="list-group-item bg-transparent text-light">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Deleniti exercitationem id reiciendis, doloribus magni fugiat, sit cumque dicta perferendis
                    quos ullam ratione odio, consequuntur laborum expedita distinctio libero hic omnis!</li>
                <li class="list-group-item bg-transparent text-light">Lorem, ipsum dolor sit amet consectetur
                    adipisicing elit. Accusantium reiciendis nostrum optio exercitationem ad est itaque earum aliquid
                    dicta! Earum rerum voluptates</li>
                <li class="list-group-item bg-transparent text-light">Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Mollitia, omnis cupiditate ipsam numquam doloremque nihil pariatur magnam ab
                    molestias exercitationem, inventore fuga! Quisquam illo repudiandae aliquam earum. Quisquam, esse
                    nisi?Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quo facere, magnam itaque
                    repudiandae, odio esse cum magni nisi expedita quos cumque quae vel necessitatibus nobis dolorem
                    alias! Dolores, nihil.</li>
                <li class="list-group-item bg-transparent text-light">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Deleniti exercitationem id reiciendis, doloribus magni fugiat, sit cumque dicta perferendis
                    quos ullam ratione odio, consequuntur laborum expedita distinctio libero hic omnis!</li>
                <li class="list-group-item bg-transparent text-light">Lorem, ipsum dolor sit amet consectetur
                    adipisicing elit. Accusantium reiciendis nostrum optio exercitationem ad est itaque earum aliquid
                    dicta! Earum rerum voluptates</li>
                <li class="list-group-item bg-transparent text-light">Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Mollitia, omnis cupiditate ipsam numquam doloremque nihil pariatur magnam ab
                    molestias exercitationem, inventore fuga! Quisquam illo repudiandae aliquam earum. Quisquam, esse
                    nisi?Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quo facere, magnam itaque
                    repudiandae, odio esse cum magni nisi expedita quos cumque quae vel necessitatibus nobis dolorem
                    alias! Dolores, nihil.</li>
            </ol>
        </div>
    </div>
</main>